<div class="container bg-dark text-warning">
    <div class="container display-5 text-center">
        <h1 class="display-3 text-danger">
            <b>Habilidades</b>
        </h1>
        <div class="row py-3">
            <div class="col-4">
                <circle-progress
                    [percent]="90"
                    [imageSrc]="'../assets/skcom.png'"
                ></circle-progress>
                <p class="display-6">Comunicación</p>
            </div>
            <div class="col-4">
                <circle-progress
                [percent]="85"
                [imageSrc]="'../assets/sklapiz.png'"
                ></circle-progress>
                <p class="display-6">Creatividad</p>
            </div>
            <div class="col-4">
                <circle-progress
                [percent]="75"
                [imageSrc]="'../assets/skfix.png'"
                ></circle-progress>
                <p class="display-6">Resolución de problemas</p>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-4">
                <circle-progress
                [percent]="90"
                [imageSrc]="'../assets/skarduino.png'"
                ></circle-progress>
                <p class="display-6">Maker</p>
            </div>
            <div class="col-4">
                <circle-progress
                [percent]="50"
                [imageSrc]="'../assets/skgato.png'"
            ></circle-progress>
                <p class="display-6">¿Vivo?</p>
            </div>
            <div class="col-4">
                <circle-progress
                [percent]="60"
                [imageSrc]="'../assets/skcoder.png'"
                ></circle-progress>
                <p class="display-6">Coder</p>
        </div>
    </div>
</div>