<div class="container-fluid bg-dark text-warning">
    <div class="container display-4 text-center py-5">
        <h1 class="display-3 py-5">
            <b>Habilidades:</b>
        </h1>
        <div class="row py-3">
            <div class="col-4">
            <img src="../../../assets/skcom.png" alt="">
            <p class="display-6">Comunicación</p>
            </div>
            <div class="col-4">
            <img src="../../../assets/sklapiz.png" alt="">
            <p class="display-6">Creatividad</p>
            </div>
            <div class="col-4">
            <img src="../../../assets/skfix.png" alt="">
            <p class="display-6">Resolución de problemas</p>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-4">
            <img src="../../../assets/skarduino.png" alt="">
            <p class="display-6">Maker</p>
            </div>
            <div class="col-4">
            <img src="../../../assets/skgato.png" alt="">
            <p class="display-6">Conocimientos avanzados de física y matemática</p>
            </div>
            <div class="col-4">
            <img src="../../../assets/skcoder.png" alt="">
            <p class="display-6">Coder</p>
        </div>
    </div>
</div>