app-redes{
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}
app-acceso{
    float:right;
    margin-top: 2%;
    margin-right: 2%;
}
app-banner{
    width:75%;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}