<div class="container-fluid bg-dark">
    <div class="container py-2 text-warning">
        <h1 class="display-3">
            PROYECTOS
        </h1>
        <h2 class="display-5"> Portfolio Full Stack</h2>
        <p class="laud">El mega proyecto integrador realizado para Argentina Programa
        </p>
        <img src="../../../assets/proy.png" alt="">

        <h2 class="display-5"> Proyecto 2</h2>
        <p class="laud">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Eius veritatis ducimus corrupti maiores dignissimos odio. 
            Ullam perferendis iste saepe dolore pariatur accusamus voluptatibus dolorem nihil,
            quam molestiae nesciunt distinctio debitis!
        </p>
        <img src="../../../assets/proy.png" alt="">

        <h2 class="display-5"> Proyecto 3</h2>
        <p class="laud">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Eius veritatis ducimus corrupti maiores dignissimos odio. 
            Ullam perferendis iste saepe dolore pariatur accusamus voluptatibus dolorem nihil,
            quam molestiae nesciunt distinctio debitis!
        </p>
        <img src="../../../assets/proy.png" alt="">

    </div>
</div>