<div class="container-fluid bg-dark">
    <div class="container text-warning">
        <h1 class="display-4 text-center py-5">
           <b>Educación</b> 
        </h1>
        <div class="row py-3">
            <div class="col-lg-3 col-sm-12 display-5"> <img src="../../../assets/edu.png" alt=""> </div>
            <div class="col-lg-9 col-sm-12 display-5"> 
                <p> 
                Puesto 1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deleniti nostrum cum! Exercitationem eaque soluta, odio ipsa corrupti dignissimos hic fugit, omnis odit, repudiandae aspernatur consequuntur porro dolore beatae aut.
                </p>
            </div>    
        </div>
        <div class="row py-3">
            <div class="col-lg-3 col-sm-12 display-5"> <img src="../../../assets/edu.png" alt=""> </div>
            <div class="col-lg-9 col-sm-12 display-5"> 
                <p> 
                Puesto 2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deleniti nostrum cum! Exercitationem eaque soluta, odio ipsa corrupti dignissimos hic fugit, omnis odit, repudiandae aspernatur consequuntur porro dolore beatae aut.
                </p>
            </div>    
        </div>
        <div class="row py-3">
            <div class="col-lg-3 col-sm-12 display-5"> <img src="../../../assets/edu.png" alt=""> </div>
            <div class="col-lg-9 col-sm-12 display-5"> 
                <p> 
                Puesto 3: Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deleniti nostrum cum! Exercitationem eaque soluta, odio ipsa corrupti dignissimos hic fugit, omnis odit, repudiandae aspernatur consequuntur porro dolore beatae aut.
                </p>
            </div>    
        </div>
    </div>
</div>