<div class="text-warning">
    <h1 class="display-4 text-danger">Sobre mi:</h1>
        <p>De Mendoza, nieva 3 meses al año, graniza otros 3, zondea 3 más y es un infierno los restantes 3. La comida que crece aquí es dura e insípida, las personas que crecemos aquí lo somos aún más.....
        ... y no, no tenemos DRAGONES :(
        </p>
        <p>Me preocupan la basura espacial y las paradojas de los viajes en el tiempo.
        Tengo visión 3D, y puedo escuchar en modo stéreo.
        Saco cuentas mentales de hasta 2 cifras. Y lo mas importante: se lo que le hicieron al gato de Schrödinger.
        </p>
</div>
